h1{
    color:red;
}



.colorBox{
    border: 2px solid black;
    text-align: center;
}

.quoteBox{
    border: 2px solid limegreen;
    text-align: center;
    margin-top: 30px;
}

.counterBox{
    border: 2px solid plum;
    margin-top: 30px;
    text-align: center;
}


.pictureBox{
    border: 2px solid blue;
    margin-top: 30px;
    text-align: center;
}

.imageContainer{
    border: 2px solid yellowgreen;
    margin: auto;
    margin-top: 30px;

    width:50%;
    padding:10px;
}